<header class="fixed-header">
  <div class="profile-photo">
    <img src="..\assets\Emir Tukozoglu.jpg" alt="Photo of Emir TUKOZOGLU">
  </div>
  <div class="profile-info">
    <p class="name">Emir TUKÖZOĞLU</p>
    <h1>Concepteur<br>Développeur<br>d'application</h1>
  </div>
  <nav class="navigation">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">À propos</a></li>
      <li><a href="/realisations">Réalisations</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>